@import url('https://fonts.googleapis.com/css2?family=Chokokutai&family=Karla+Tamil+Upright:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    min-height: 100vh;
    background-color: #f8f9fa;
    font-family: 'Oswald';
}

.app-container header {
    text-transform: uppercase;
    text-align: center;
}

.fade-in {
    opacity: 0; 
    transform: translateX(-20px); 
    animation: fadeIn 1.5s forwards; 
}

@keyframes fadeIn {
    0% {
        opacity: 0; 
        transform: translateX(-20px); 
    }
    100% {
        opacity: 1; 
        transform: translateX(0); 
    }
}

